**Quiz1**

Import ไฟล์ vgsales เช็คข้อมูลเบื้องต้น

In [ ]:
!wget https://raw.githubusercontent.com/deen666/Homework_DataCamp2/master/PROJECT%20I%20%E2%80%93%20Capstone/vgsales.csv

In [ ]:
!ls

sample_data  vgsales.csv

In [83]:
#Run this cell first.
import warnings 
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [20]:
#Quiz1

#df = pd.read_csv('vgsales.csv') #My Gdrive Local path.
df = pd.read_csv('https://raw.githubusercontent.com/deen666/Homework_DataCamp2/master/PROJECT%20I%20%E2%80%93%20Capstone/vgsales.csv') #or fetch from the URL.
df

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [ ]:
df.info()
#df.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

 To check if there are any NA or NaN.

In [84]:
df.isnull().values.any()

True

In [86]:
df = df.dropna()
df.isnull().values.any()

False

**Quiz2**

สุ่มอ่านข้อมูล 10 แถว หัว 5 แถว และท้าย 10 แถว

In [87]:
#Quiz2
df.sample(10)
#df.sample(10).head(5)   #Head 5 from the 10 samples.

        Rank  ... Global_Sales
13066  13068  ...         0.05
6515    6517  ...         0.26
3584    3586  ...         0.56
11940  11942  ...         0.07
12449  12451  ...         0.06
6082    6084  ...         0.29
886      888  ...         1.93
11957  11959  ...         0.07
9022    9024  ...         0.14
12053  12055  ...         0.07

[10 rows x 11 columns]

In [88]:
df.head(5)

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [89]:
df.tail(10)

        Rank  ... Global_Sales
16588  16591  ...         0.01
16589  16592  ...         0.01
16590  16593  ...         0.01
16591  16594  ...         0.01
16592  16595  ...         0.01
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[10 rows x 11 columns]

**Quiz3**

หา Top 10 Platform ยอดฮิต พร้อมระบุจำนวน

In [90]:
#Quiz3
#df.groupby('Platform').count()
#df.groupby(['Platform']).agg(['count'])
df.groupby(['Platform']).size().sort_values()[::-1].head(10)

Platform
DS      2131
PS2     2127
PS3     1304
Wii     1290
X360    1234
PSP     1197
PS      1189
PC       938
XB       803
GBA      786
dtype: int64

In [91]:
#Quiz3
df['Platform'].value_counts().head(10)

DS      2131
PS2     2127
PS3     1304
Wii     1290
X360    1234
PSP     1197
PS      1189
PC       938
XB       803
GBA      786
Name: Platform, dtype: int64

**Quiz4**

หา Bottom 10 Platform ยอดฮิต พร้อมระบุจำนวน

In [92]:
#Quiz4
df['Platform'].value_counts().tail(10)
#df['Platform'].value_counts(sort=True)

GB      97
DC      52
GEN     27
NG      12
WS       6
SCD      6
3DO      3
TG16     2
GG       1
PCFX     1
Name: Platform, dtype: int64

**Quiz5**

หา Top 10 Platform ชนิดของเกมส์ยอดฮิต พร้อมระบุจำนวน

In [93]:
#Quiz5
df['Genre'].value_counts().head(10)

Action          3251
Sports          2304
Misc            1686
Role-Playing    1470
Shooter         1282
Adventure       1274
Racing          1225
Platform         875
Simulation       848
Fighting         836
Name: Genre, dtype: int64

In [96]:
df['Genre'].value_counts(sort=True)

Action          3251
Sports          2304
Misc            1686
Role-Playing    1470
Shooter         1282
Adventure       1274
Racing          1225
Platform         875
Simulation       848
Fighting         836
Strategy         670
Puzzle           570
Name: Genre, dtype: int64

**Quiz6**

หา Bottom 10 Platform ชนิดของเกมส์ยอดฮิต พร้อมระบุจำนวน

In [94]:
#Quiz6
df['Genre'].value_counts().tail(10)

Misc            1686
Role-Playing    1470
Shooter         1282
Adventure       1274
Racing          1225
Platform         875
Simulation       848
Fighting         836
Strategy         670
Puzzle           570
Name: Genre, dtype: int64

**Quiz7**

หารายละเอียดเกมส์ GTA V ภาคต่างๆ ทั้งหมด

In [97]:
#Quiz7
#df['Name'].filter(like='Grand Theft Auto')
#df.filter(regex="Grand Theft Auto V")
df[df['Name']=='Grand Theft Auto V']

      Rank                Name Platform  ...  JP_Sales Other_Sales Global_Sales
16      17  Grand Theft Auto V      PS3  ...      0.97        4.14        21.40
23      24  Grand Theft Auto V     X360  ...      0.06        1.38        16.38
44      45  Grand Theft Auto V      PS4  ...      0.36        2.02        11.98
197    198  Grand Theft Auto V     XOne  ...      0.00        0.41         5.08
1896  1898  Grand Theft Auto V       PC  ...      0.00        0.08         1.08

[5 rows x 11 columns]