In [1]:
#Run this cell first
import numpy as np
import pandas as pd
import plotly.express as px

**Quiz1**

นาย A,B,C,D,E มีรายได้ 10,000 20,000 30,000 40,000 60,000 ต่อเดือนในปี 2020 ตามลำดับ ทุกๆปีเงินเดือนจะเพิ่ม 7% จงสร้าง DataFrame เก็บเงินเดือนของทั้ง 5 นาย ในปี 2016,2017,2018,2019,2020

In [6]:
name = ['A', 'B', 'C', 'D', 'E']
salary = [10000, 20000, 30000, 40000, 600000]
year = ['2020']

df = pd.DataFrame(salary, name, year)
print(df)

     2020
A   10000
B   20000
C   30000
D   40000
E  600000

In [ ]:
!wget https://gist.githubusercontent.com/deen666/aaf734fe721ca1bf504d324bf76eef04/raw/8f990dffacaf13cff911a86d4bc944be3b0d0486/train.csv

In [ ]:
ls

sample_data/  train.csv