**Quiz 1**

In [0]:


#1.1 2345 %% 13
Q1 = 2345%13

#1.2
Q2 = int(1567//17)

#1.3   #ไม่ใช่ตัวแปรเดียวกัน
Firstname = "D"
FirstName = "2EN"
print(Firstname, FirstName)


#1.4 #ไม่ถูกต้อง 13Friday is illegal variable name
'''
13Friday = 13 

13Friday = 13
           ^
SyntaxError: invalid syntax
'''

#1.5
Q5 = print('Answer1 is {} Answer2 is {}'.format(Q1,Q2))

#check type
print(type(Q1))
print(type(Q2))

**Quiz 2**

In [0]:
# 2.1
devide = lambda x: x/3
print(devide(9))

# 2.2
def avg(a,b,c,d):
  return a+b+c+d/4
print(avg(1,2,3,4))


# 2.3
avg_lamda = lambda x,y,z : (x + y + z)/3
print(int(avg_lamda(15,30,45)))

**Quiz 3**

In [67]:
# 3.1 Create list
lst = ['DEEN',66,'SAMT']
print('My Name is',lst[0] + '\nLastName ',lst[2] + '\nAge ',lst[1])

# 3.2
del lst[1]
print(lst)
# or lst.remove(66)  
# The remove() method removes the specified item: https://www.w3schools.com/python/python_lists.asp

# 3.3
lst[1] = 66
NewAge =  lst[1]-10
lst.insert(0,NewAge)
print(lst)

# 3.4
h = 176
w = 88
lst.append(h)
lst.append(w)
print(lst)

# 3.5
print(lst[2:])

My Name is DEEN
LastName  SAMT
Age  66
['DEEN', 'SAMT']
[56, 'DEEN', 66]
[56, 'DEEN', 66, 176, 88]
[66, 176, 88]

**Quiz 4**

In [68]:
# 4.1
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]] 
print(a[1][1][1])


# 4.2

n1 = ['DEEN',66, 'SAMT']
n2 = ['X',23,'Arch']
n3 = ['Code',25, 'Camp']
n4 = ['Py',33, 'Thon']
nlist = [n1,n2,n3,n4]
print('All',nlist)

'''
n1 = [
      ['DEEN', 'SAMT'], 
      ['X', 'Arch'], 
      ['Code', 'Camp'], 
      ['Py', 'Thon']
    ]
    '''

# 4.3
del nlist[3]
print(nlist)

# 4.4

n5 =  ["O" , 70, "Wen"]
nlist.insert(0, n5)
print("Added " , nlist)


# 4.5
nlist[1][1] =  nlist[1][1]+10
print("Fix age 2nd +10" , nlist)

6
All [['DEEN', 66, 'SAMT'], ['X', 23, 'Arch'], ['Code', 25, 'Camp'], ['Py', 33, 'Thon']]
[['DEEN', 66, 'SAMT'], ['X', 23, 'Arch'], ['Code', 25, 'Camp']]
Added  [['O', 70, 'Wen'], ['DEEN', 66, 'SAMT'], ['X', 23, 'Arch'], ['Code', 25, 'Camp']]
Fix age 2nd +10 [['O', 70, 'Wen'], ['DEEN', 76, 'SAMT'], ['X', 23, 'Arch'], ['Code', 25, 'Camp']]