**Quiz 1**

In [0]:


#1.1 2345 %% 13
Q1 = 2345%13

#1.2
Q2 = int(1567//17)

#1.3   #ไม่ใช่ตัวแปรเดียวกัน
Firstname = "D"
FirstName = "2EN"
print(Firstname, FirstName)


#1.4 #ไม่ถูกต้อง 13Friday is illegal variable name
'''
13Friday = 13 

13Friday = 13
           ^
SyntaxError: invalid syntax
'''

#1.5
Q5 = print('Answer1 is {} Answer2 is {}'.format(Q1,Q2))

#check type
print(type(Q1))
print(type(Q2))

**Quiz 2**

In [0]:
# 2.1
devide = lambda x: x/3
print(devide(9))

# 2.2
def avg(a,b,c,d):
  return a+b+c+d/4
print(avg(1,2,3,4))


# 2.3
avg_lamda = lambda x,y,z : (x + y + z)/3
print(int(avg_lamda(15,30,45)))

**Quiz 3**

In [0]:
# 3.1 Create list
lst = ['DEEN',66,'SAMT']
print('My Name is',lst[0] + '\nLastName ',lst[2] + '\nAge ',lst[1])

# 3.2
del lst[1]
print(lst)
# or lst.remove(66)  
# The remove() method removes the specified item: https://www.w3schools.com/python/python_lists.asp

# 3.3
lst[1] = 66
NewAge =  lst[1]-10
lst.insert(0,NewAge)
print(lst)

# 3.4
h = 176
w = 88
lst.append(h)
lst.append(w)
print(lst)

# 3.5
print(lst[2:])

My Name is DEEN
LastName  SAMT
Age  66
['DEEN', 'SAMT']
[56, 'DEEN', 66]
[56, 'DEEN', 66, 176, 88]
[66, 176, 88]

**Quiz 4**

In [0]:
# 4.1
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]] 
print(a[1][1][1])


# 4.2

n1 = ['DEEN',66, 'SAMT']
n2 = ['X',23,'Arch']
n3 = ['Code',25, 'Camp']
n4 = ['Py',33, 'Thon']
nlist = [n1,n2,n3,n4]
print('All',nlist)

'''
n1 = [
      ['DEEN', 'SAMT'], 
      ['X', 'Arch'], 
      ['Code', 'Camp'], 
      ['Py', 'Thon']
    ]
    '''

# 4.3
del nlist[3]
print(nlist)

# 4.4

n5 =  ["O" , 70, "Wen"]
nlist.insert(0, n5)
print("Added " , nlist)


# 4.5
nlist[1][1] =  nlist[1][1]+10
print("Fix age 2nd +10" , nlist)

6
All [['DEEN', 66, 'SAMT'], ['X', 23, 'Arch'], ['Code', 25, 'Camp'], ['Py', 33, 'Thon']]
[['DEEN', 66, 'SAMT'], ['X', 23, 'Arch'], ['Code', 25, 'Camp']]
Added  [['O', 70, 'Wen'], ['DEEN', 66, 'SAMT'], ['X', 23, 'Arch'], ['Code', 25, 'Camp']]
Fix age 2nd +10 [['O', 70, 'Wen'], ['DEEN', 76, 'SAMT'], ['X', 23, 'Arch'], ['Code', 25, 'Camp']]

**Quiz 5**

In [15]:
#Test
import operator
lst = [1,2,3,4,5,6,7,8,9,10]
opower3 = map(lambda x:operator.pow(x,3), lst)
print(list(opower3))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [29]:
#Quiz 5
# 5.1
lst = [1,2,3,4,5,6,7,8,9,10]

#lamda
power3 = map(lambda x:x**3, lst)
print(list(power3))


#normal function
def func(a):
    power3 = a**3
    return power3
print(list(map(func,lst)))

# 5.2
#lamda
mod2 = filter(lambda y:((y**2)%2  != 0), lst)
print(list(mod2))

#normal function
def func2(b):
    mod2 = ((b**2)%2 != 0)
    return mod2
print(list(filter(func2,lst)))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

**Quiz 6**

In [34]:
#6.1
lst = [1,2,3,4,5]
lst2 = [(x*2)-1 for x in lst]
print(lst2)

#6.2
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13]
lst2 = [x**3 for x in lst if x%3 != 0]
print(lst2)

[1, 3, 5, 7, 9]
[1, 8, 64, 125, 343, 512, 1000, 1331, 2197]

**Quiz7**

In [35]:
#Quiz7
score = int(input("What is score ? "))

if score > 80:
  print("A")
elif score > 70:
  print("B")
elif score > 60:
  print("C")
elif score >= 50:
  print("D")
else:
  print("F")

What is score 80
B

**Quiz8**

In [37]:
#8.1
A = [1, 2, 3, 4, 5]
B = [2, 3, 1, 3, 2]

result = map(lambda a, b: a**b, B, A)
print(list(result))


#8.2
name = ['DEEN', 'X', 'Code', 'Py', 'Eng']
no = [1, 2, 3 , 4, 5]
score = [100, 66, 50, 99, 80]

mapped = list(zip(name,no,score))
print(mapped)

[2, 9, 1, 81, 32]
[('DEEN', 1, 100), ('X', 2, 66), ('Code', 3, 50), ('Py', 4, 99), ('Eng', 5, 80)]